@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 15, 23, 42;

  --primary: #00f2ff;
  --primary-dim: rgba(0, 242, 255, 0.2);
  --danger: #ff2e63;
  --card-bg: rgba(30, 41, 59, 0.7);
  --glass-border: rgba(255, 255, 255, 0.1);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Noto Sans KR', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}